@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #05100d;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
